.App {
    height: 100vh;
    /* background-image: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%); */
}

/**********Styles pokecard**********/

.pokedex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 4em;
    width: 100%;
    background-image: linear-gradient(178.92deg, #CAE099 0.92%, #ABDAC6 47.96%, #7EC6C5 99.08%);
}
/*#7EC6C5*/
.poke-card {
    /*tamaño a la card*/
    width: 100%;
    max-width: 330px;
/* ------------------------ */
    border-radius: 0.7em;
    border: 0.6em solid;
    background-color: white;
    cursor: pointer;
    transition: 0.4s ease;    
}

.poke-card:hover {
    transform: rotate(3deg);
    opacity: 0.8;
}

.poke-card__header {/*padre de la imagen*/
    background-color: gray;
    height: 120px;
    position: relative;
}

.poke-card__img {/*imagen*/
    width: 50%;
    position: absolute;
    top: 10%;
    /*centra la imagen*/
    left: 50%;
    transform: translateX(-50%);
}

.poke-card__body { /*baja el texto*/
    padding-top: 2.5em;
}

.poke-card__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7rem;
}

.poke-card__types-container {
    display: flex;
    gap: 1em;
    justify-content: center;   
}


.poke-card__type {
    display: inline-block;
    text-transform: capitalize;
}

.poke-card__footer {
    padding: 1em 0.8em 2em; /*Arriba-abajo  izquier-derecha*/
}

.poke-card__stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*se forman tres columnas que miden 1fr*/
    gap: 25px 5px;
}

.poke-card__stat {/*para ponerlos verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.poke-card__stat-label {
    text-align: center;
    text-transform: uppercase;
    opacity: 0.6;
    font-family: 200;
    font-size: 0.8rem;
}

/**********styles Home**********/

.home {
    position: relative;
    align-items: center;
    height: 100%;
    background-color: rgb(210, 202, 193);
}

.home__container-info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    grid-area: 1em;
    text-align: center;
    top: 25%;
}

.homer__greeting{
    padding: 1.5em;
    font-size: 1.7rem;
    color: rgb(193, 6, 6);
}

.home__form {
    display: flex;
    gap: 0.6em;
    justify-content: center;
}

.home__input {
    height: 2.5em;
    width: 60%;
    border-radius: 6px;
    text-align: center;
}

.home__button {
    height: 2.5em;
    width: 28%;
    background-color: #ed1b1b;
    color: white;
    border-radius: 6px;
    transition: ease 300ms ;
}

.home__button:hover {
    background-color: #d82f2f;
    transform: scale(1.1);
    transition: ease 300ms;
}

.home__footer {
    position: absolute;
    display: block;
    bottom: 0;
    height: 95px;
    width: 100%;
}

.home__footer-block-red {
    height: 60%;
    background-color: #ed1b1b;
}

.home__footer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 70px;
    background-color: white;
    border: solid 10px black;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 45%;
}

.home__footer-inner-circle {
    background-color: black;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.home__footer-block-black {
    height: 40%;
    background-color: black;
}

/*pokedex titulo e input*/

.pokedex-title {
    text-align: center;
    font-weight: 400;
    margin: 1em;
}

.pokedex-title__label {
    display: block;
}

.pokedex-form{
}

.pokedex-form__input{
}

.pokedex-form__button{}

/*Pagination*/
.pagination__container {
    display: flex;
    justify-content: center;
    align-items: end;
}

/*PokeInfo*/



/*COSAS QUE FALTAN
*Crear el repositorio git y hacer un commit desde aqui --- listo
*Corregir la imagen del header ---- listo
*Darle estilos al home ---- listo
*Hacer el Header ---- listo
*Hacer la transicion de imagenes ---- listo
*Hacer el pokeinfo
*Hacer la paginacion ---- listo
*Hacer un JSON con los colores para todos los tipos --- listo
*/
