:root {
    --bar-progress: #3f3f;
}

/* .pagination {
    margin: auto;
} */

.pagination__list {
    display: flex;
    gap: 10px;
}

.pagination__number {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}

.pagination__number:hover {
    
}

.page__active {
    background-color: #d93f3f;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 6px;
}

